<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>report</title>

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark "
		style="background-color: #0f37ff;">



		<a class="navbar-brand" href="/">Student Attendance System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active"><a class="nav-link"
					th:href="@{/view/studentlist}">View Student List<span
						class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/attendance/new}">Take Attendance<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/view/studentlist}">View Student List<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> View Attendance </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" data-toggle="modal"
							data-target="#DateAndRollModal">View By Date And Roll</a> <a
							class="dropdown-item" data-toggle="modal"
							data-target="#DateOnlyModal">View All by Date</a> <a
							class="dropdown-item" data-toggle="modal"
							data-target="#DateBetweenModal">Generate a
							Report of All</a>
					</div></li>
				<li class="nav-item active"><a class="nav-link" th:href="@{/}">Logout<span
						class="sr-only">(current)</span></a></li>

			</ul>

		</div>
	</nav>

	<!--Date and Roll -->
	<div class="modal fade" id="DateAndRollModal" tabindex="-1"
		role="dialog" aria-labelledby="DateAndRollModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="DateAndRollModalLabel">View
						Student Attendance</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/view/attendanceByRoll}" method="get"
						th:object=${dto}>
						<div class="form-group">
							<label for="exampleInputEmail1">Select Roll No.</label> <select
								required class="custom-select" th:field="*{studentId}">
								<th:block th:each="std:${std}">
									<option th:text="${std.studentId}" th:value="${std.studentId}" />
								</th:block>

							</select>
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Date</label> <input
								type="date" class="form-control" th:field="*{date}">
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- DateOnly -->
	<div class="modal fade" id="DateOnlyModal" tabindex="-1" role="dialog"
		aria-labelledby="DateOnlyModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="DateOnlyModalLabel">View Student
						Attendance</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/view/attendanceByDate}" method="get"
						th:object=${date}>

						<div class="form-group">
							<label for="exampleInputPassword1">Date</label> <input
								type="date" class="form-control" th:field="*{date}">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>

	<!--Generate a report  -->
	<div class="modal fade" id="DateBetweenModal" tabindex="-1"
		role="dialog" aria-labelledby="DateBetweenModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="DateBetweenModalLabel">Enter Dates</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/view/attendanceBetweenDates}" method="get"
						th:object=${date}>

						<div class="form-group">
							<label for="exampleInputPassword1">Enter Start Date</label> <input
								type="date" class="form-control" name="sdate">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Enter End Date</label> <input
								type="date" class="form-control" name="edate">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>

	<div class="container bg-info" style="margin-top: 30px" >
		<div class="card" >
			<div class="card-header bg-info">
				<div class="row">
					<div class="col-md-9">
						<h2>Student Attendance Report</h2>
					</div>
					<div class="col-md-3">
						<button onclick="generatePDF()" type="button"
							class="btn btn-primary btn-lg">Download pdf</button>
					</div>

				</div>
			</div>
			<div class="card-body" id="report">
				<div class="table-responsive-sm">
					<span id="message_operation"></span>
					<table  class="table table-striped table-bordered border-primary">
						<thead>
							<tr class="bg-secondary text-white">
								<th>Roll No.</th>
								<th>Student Name</th>
								<th>Semester</th>
								<th>Attendance</th>
								<th>Date</th>

							</tr>
						</thead>
						<tbody class="table-primary">
							<tr th:each="ad: ${ad}" >
								<td th:text="${ad.student.studentId}">Student Id</td>
								<td th:text="${ad.student.studentName}">Student Name</td>
								<td th:text="${ad.student.semister}">Semester</td>
								<td th:if="${ad.counter}==0" th:text="Absent">Absent</td>
								<td th:unless="${ad.counter}==0" th:text="Present">Present</td>
								<td th:text="${ad.date}">Date</td>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script
		src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
	<script>
		function generatePDF() {
			const element = document.getElementById("report");

			html2pdf().from(element).save("student_report");
		}
	</script>
</body>

</html>